---
- name: Include tasks for sanity checks
  ansible.builtin.import_tasks:
    file: "sanity-check.yml"

- name: Include task to get Swarm Client version
  ansible.builtin.import_tasks:
    file: "get-swarm-client-version.yml"
  when: jenkins_swarm_client_version == ""

- name: Create Swarm Client user/group
  ansible.builtin.import_tasks:
    file: "add-jenkins-user.yml"
  when: swarm_client_create_user

- name: Include tasks to shutdown service
  ansible.builtin.import_tasks:
    file: "shutdown.yml"

- name: Include OS-specific tasks to install Swarm Client
  ansible.builtin.include_tasks:
    file: "{{ ansible_facts['os_family'] | lower }}/install.yml"

- name: Include tasks to start service
  ansible.builtin.import_tasks:
    file: "startup.yml"
  when: swarm_client_start_service
