---
- name: Include platform-specific defaults
  ansible.builtin.include_vars:
    file: "{{ role_path }}/vars/{{ ansible_os_family | lower }}.yml"

- name: Get UID for jenkins_config_owner user
  ansible.builtin.command:
    cmd: "id -u {{ jenkins_config_owner }}"
  changed_when: false
  register: uid

- name: Get list of disabled services
  ansible.builtin.command:
    cmd: "launchctl print-disabled gui/{{ uid.stdout }}"
  changed_when: false
  register: disabled_services

- name: Disable launchctl service (pre-Ventura)
  ansible.builtin.command:
    cmd: "launchctl disable gui/{{ uid.stdout }}/{{ jenkins_swarm_client_ident }}"
  changed_when: true
  when:
    - ansible_distribution_major_version | int < 13
    - jenkins_swarm_client_disabled_pre_ventura not in disabled_services.stdout_lines

- name: Disable launchctl service (post-Ventura)
  ansible.builtin.command:
    cmd: "launchctl disable gui/{{ uid.stdout }}/{{ jenkins_swarm_client_ident }}"
  changed_when: true
  when:
    - ansible_distribution_major_version | int >= 13
    - jenkins_swarm_client_disabled_post_ventura not in disabled_services.stdout_lines
