---
- name: Run installation tasks common to Unix-like systems
  ansible.builtin.include_tasks:
    file: "unix/install.yml"

- name: Install service
  ansible.builtin.include_tasks:
    file: "install-{{ ansible_facts['service_mgr'] }}.yml"
