---
- name: Include tasks to check if service is running
  ansible.builtin.include_tasks:
    file: "check-if-running.yml"

- name: Stop service process
  ansible.windows.win_shell: >
    Stop-Process -Id {{ jenkins_swarm_pid.content | b64decode }}
  ignore_errors: true  # noqa ignore-errors
  when: swarm_client_service_running

- name: Disable scheduled task
  ansible.windows.win_shell: >
    Disable-ScheduledTask -TaskName '{{ jenkins_swarm_service_name }}'
  ignore_errors: true  # noqa ignore-errors
  when: swarm_client_service_running
