---
- name: Check if Windows service exists
  ansible.windows.win_service:
    name: "{{ jenkins_swarm_service_name }}"
  register: win_service_info

- name: Stop Windows service
  ansible.windows.win_service:
    name: "{{ jenkins_swarm_service_name }}"
    start_mode: disabled
    state: stopped
  when: win_service_info.exists
