[Unit]
Description={{ jenkins_swarm_service_description }}
After=network.target

[Service]
ExecStart={{ java_exe }} {{ jenkins_swarm_launch_args | join(" ") }}
ExecStop=/usr/bin/pkill -F {{ jenkins_swarm_pid_file }}
PIDFile={{ jenkins_swarm_pid_file }}
Restart=always
RestartSec=60
Type=simple
User={{ jenkins_config_owner }}
WorkingDirectory={{ jenkins_swarm_home }}

[Install]
WantedBy=multi-user.target
