<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>{{ ansible_pkg_mgr_path }}</string>
  </dict>
  <key>KeepAlive</key>
  <dict>
    <key>NetworkState</key>
    <true/>
  </dict>
  <key>Label</key>
  <string>{{ jenkins_swarm_client_ident }}</string>
  <key>MachServices</key>
  <dict>
    <key>{{ jenkins_swarm_client_ident }}</key>
    <true/>
  </dict>
  <key>ProcessType</key>
  <string>Interactive</string>
  <key>ProgramArguments</key>
  <array>
    {{ jenkins_swarm_launchd_args }}
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>LimitLoadToSessionType</key>
  <string>Aqua</string>
  <key>UserName</key>
  <string>{{ jenkins_config_owner }}</string>
  <key>WorkingDirectory</key>
  <string>{{ jenkins_swarm_home }}</string>
</dict>
</plist>
