[Unit]
Description={{ jenkins_swarm_service_name }}
After=network.target

[Service]
ExecStart={{ jenkins_swarm_cmd }}
ExecStop=/usr/bin/pkill -f java
Restart=on-abort
Type=simple
User={{ ansible_user }}
WorkingDirectory={{ jenkins_swarm_home }}

[Install]
WantedBy=multi-user.target
