---
- name: Include platform-specific defaults
  ansible.builtin.include_vars:
    file: "{{ role_path }}/vars/{{ ansible_os_family | lower }}.yml"

- name: Include unix-specific defaults
  ansible.builtin.include_vars:
    file: "{{ role_path }}/vars/unix.yml"

- name: Detect Python3 path
  block:
    # Older versions of macOS can have problems downloading from HTTPS websites thanks to
    # outdated OpenSSL versions. As a workaround, we force python3 if it is available.
    # See: https://github.com/ansible/ansible/issues/33417#issuecomment-350547975
    - name: See if Python3 is installed on the host
      ansible.builtin.command:
        cmd: "which python3"
      changed_when: false
      ignore_errors: true
      register: python3_path

    - name: Use Python3 to download Swarm Client if available
      ansible.builtin.set_fact:
        swarm_client_get_url_python: "{{ python3_path.stdout }}"
      when: python3_path is succeeded

- name: Detect Python2 path
  when: python3_path is failed
  block:
    # Fall back to Python2 if Python3 is unavailable
    - name: See if Python2 is installed on the host
      ansible.builtin.command:
        cmd: "which python"
      changed_when: false
      ignore_errors: true
      register: python2_path

    - name: Use Python2 to download Swarm Client if available
      ansible.builtin.set_fact:
        swarm_client_get_url_python: "{{ python2_path.stdout }}"
      when:
        - python2_path is defined
        - python2_path is succeeded

- name: Assert that swarm_client_get_url_python is defined
  ansible.builtin.assert:
    that: swarm_client_get_url_python is defined

- name: Download Swarm Client JAR
  become: true
  ansible.builtin.get_url:
    url: "https://repo.jenkins-ci.org/releases/org/jenkins-ci/plugins/swarm-client\
      /{{ jenkins_swarm_client_version }}\
      /swarm-client-{{ jenkins_swarm_client_version }}.jar"
    dest: "{{ jenkins_swarm_jar_path }}"
    owner: "{{ jenkins_config_owner }}"
    group: "{{ jenkins_config_group }}"
    mode: "0644"
  vars:
    ansible_python_interpreter: "{{ swarm_client_get_url_python }}"

- name: Copy logging properties file
  become: true
  ansible.builtin.copy:
    src: "logging.properties"
    dest: "{{ jenkins_swarm_logging_properties }}"
    owner: "{{ jenkins_config_owner }}"
    group: "{{ jenkins_config_group }}"
    mode: "0644"

- name: Copy configuration file
  become: true
  ansible.builtin.template:
    src: "swarm-client-config.yml.j2"
    dest: "{{ jenkins_swarm_home }}/swarm-client-config.yml"
    owner: "{{ jenkins_config_owner }}"
    group: "{{ jenkins_config_group }}"
    mode: "0644"
